[source.crates-io]
#registry = "https://github.com/rust-lang/crates.io-index"
registry = "https://hub.fastgit.org/rust-lang/crates.io-index"

#http.check-revoke = false
replace-with = 'ustc'

[source.tuna]
registry = "https://mirrors.tuna.tsinghua.edu.cn/git/crates.io-index.git"

[source.ustc]
registry = "git://mirrors.ustc.edu.cn/crates.io-index"


[source.sjtu]
registry = "https://mirrors.sjtug.sjtu.edu.cn/git/crates.io-index"

[source.rustcc]
registry = "git://crates.rustcc.cn/crates.io-index"

[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]
#[target.x86_64-pc-windows-msvc.pq]
#rustc-link-search = ["E:\\libs\\postgres\\lib"]
#rustc-link-lib = ["libpq"]
#[target.x86_64-pc-windows-msvc.mysqlclient]
#rustc-link-search = ["E:\\libs\\mysql-connector-c-6.1.11-winx64\\lib\\vs14"]
#rustc-link-lib = ["mysqlclient"]
#[target.x86_64-pc-windows-msvc.sqlite3]
#rustc-link-search = ["E:\\libs\\sqlite3"]
#rustc-link-lib = ["sqlite3"]